<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
      <p>Made with ❤️ by <a target="_blank" href="https://twitter.com/gsuscodes">jesusgjara</a> - Travel Journal 2022</p>
    </div>
  </footer>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  <!-- Put this part before </body> tag -->
<div class="modal" id="edit-profile">
  <div class="modal-box">
    <div class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
      <div class="card-body">
        <h>Edit Profile:</h>
      <form action="/userProfile/addProfile" enctype="multipart/form-data" method="POST">
        <div class="form-control">
          <label for="firstName" class="label">
            <span class="label-text">First Name</span>
          </label>
          <input type="text" placeholder="first name" class="input input-bordered" name="firstName" id="firstName" />
        </div>
        <div class="form-control">
          <label for="lastName" class="label">
            <span class="label-text">Last Name</span>
          </label>
          <input type="text" placeholder="last name" class="input input-bordered" name="lastName" id="lastName" />
        </div>
        <div class="form-control">
          <label for="avatar" class="label">
            <span class="label-text">Upload a photo</span>
          </label>
          <input type="file" placeholder="avatar" class="bg-ttext-sm text-grey-500
          file:mr-5 file:py-2 file:px-6
          file:file:border-0
          file:text-sm file:font-medium
          file:bg-base-100
          hover:file:cursor-pointer hover:file:bg-amber-50
          hover:file:text-amber-700ransparent" name="avatar" id="avatar"/>
        </div>
        <div class="form-control">
          <label for="bio" class="label">
            <span class="label-text">Bio</span>
          </label>
          <textarea class="input input-bordered" name="bio" id="bio" cols="20" rows="5"></textarea>
          <!-- <input type="text" placeholder="bio" class="input input-bordered" name="bio" id="bio"/> -->
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-outline btn-primary normal-case">Create</button>
           <a href="#" class="btn btn-active btn-primary normal-case mt-6">Go Back</a>
        </div>
      </form>
    <!-- <div class="modal-action">
     <a href="#" class="btn">Yay!</a>
    </div> -->
  </div>
</body>
</html>
