<%- include('partials/header') -%>
      <main class="hero min-h-screen" style="background-image: url(https://i.ibb.co/HBD8TTp/notebook-g2c19d51f0-1920.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Travel Journal</h1>
            <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <!-- <button class="btn btn-primary normal-case">Get Started</button> -->
            <div class="container flex-row gap-2">
                <a href="/login" class="btn btn-primary normal-case">Login</a>
                <a href="/signup" class="btn btn-primary normal-case">Signup</a>
            </div>
          </div>
        </div>
    </main>
<%- include('partials/footer') -%>
